<body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
        <div class="card">
            <div class="card-header"> 
          <h3>Vamos a crear tu cuenta</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="form" class="form" (ngSubmit)="onEnviar($event, usuario)" >
            <div class="form-group">
                <div class="m-3">
              <label for="nombre">Ingresá tu nombre completo</label>
              <input type="text" class="form-control" id="nombre" placeholder="Nombre completo"
              formControlName="nombre" [(ngModel)]="usuario.nombre" [class.border-danger]="NombreValid">
            <div *ngIf="Nombre?.errors && Nombre?.touched">
            <p *ngIf="Nombre?.hasError('required')" class="text-danger"> El nombre es requerido</p>
            </div>
                </div>
            </div>

            <div class="m-3">
              <label for="nomUsu" class="form-label">Creá tu nombre de usuario</label>
              <input type="text" class="form-control" id="fechaNac" placeholder="Nombre de usuario"
              formControlName="nomUsu" [(ngModel)]="usuario.nomUsu" [class.border-danger]="NomUsuValid">
            <div *ngIf="NomUsu?.errors && NomUsu?.touched">
            <p *ngIf="NomUsu?.hasError('required')" class="text-danger"> El nombre de usuario es requerido</p>
            </div>
            </div>
  
            <div class="m-3">
              <label for="mail" class="form-label">Ingresá tu email</label>
              <input type="email" class="form-control" id="mail" placeholder="Email"
              formControlName="mail" [(ngModel)]="usuario.mail" [class.border-danger]="MailValid">
            <div *ngIf="Mail?.errors && Mail?.touched">
            <p *ngIf="Mail?.hasError('required')" class="text-danger"> El mail es requerido</p>
            </div>
            </div>
  
  
            <div class="m-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" id="password" class="form-control" placeholder="Contraseña"
              formControlName="password1" [class.border-danger]="Password1Valid">
              <div *ngIf="Password1?.errors && Password1?.touched">
                <p *ngIf="Password1?.hasError('required')" class="text-danger"> La contraseña es requerida</p>
              </div>
            </div>
  
  
            <div class="m-3">
              <label for="password2" class="form-label">Repetí la contraseña</label>
              <input type="password2" id="password2" class="form-control" placeholder="Ingresá nuevamente la contraseña"
              formControlName="password2" [class.border-danger]="Password2Valid">
              <div *ngIf="Password2?.errors && Password2?.touched">
                <p *ngIf="Password2?.hasError('required')" class="text-danger"> La contraseña no coincide</p>
              </div>
            </div>

            
           

              
            <button type="submit" class="btn btn-primary" routerLink="/inicio" > Registrarme </button>
          </form>
        </div>
    
    </div>
</div>
      </div>
    </div>
  </body>