.form-control{
    margin: 1em;
    background-color: white;
}

.container {
background-color: blue;
padding: 10em;
}

.card {
    background-color: white;
    padding-right: 2em;
}

.btn {
    align-items: end;
}
