<div class="text-bg-primary p-3">
  <div class="container">
    <h6 class="display-9 font-weight-bold">Encontrá rápidamente la institución que estás buscando</h6>
  </div>
  <div class="container text-center">
    <div class="row align-items-center">
      
      <div class="col">
        <select class="form-select" [(ngModel)]="selectedProvince" name="province" (change)="onProvinceChange()">
          <option value="" disabled selected>Selecciona una provincia</option>
          <option *ngFor="let province of provinces" [value]="province.id_provincia">{{ province.nombre }}</option>
        </select>
      </div>
    
      <div class="col">
        <select class="form-select" [(ngModel)]="selectedLocality" (change)="onLocalityChange()">
          <option value="" disabled selected>Ciudad</option>
          <option *ngFor="let loc of localities" [value]="loc.id_localidad">{{ loc.nombre }}</option>
        </select>
      </div>

      <div class="col">
        <button (click)="onShowSchools()">Buscar</button>
      </div>
    </div>
  </div>

  <div class="container mt-5" *ngIf="showSchools" style="color: white;">
    
    <table *ngIf="schools.length > 0; else noSchools" class="table table-striped" style="background-color: transparent;">
      <thead>
        <tr>
          <th>Nombre de la Escuela</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let school of schools">
          <td>{{ school.nombre }}</td>
          <td>{{ school.adress }}</td>
        </tr>
      </tbody>
    </table>
  
    <ng-template #noSchools>
      <p>No se encontraron escuelas.</p>
    </ng-template>
  </div>
  