.form-control{
    background-color: white;
}

.container {
background-color: blue;
padding: 5em;
}

.card {
    background-color: white;
    padding-right: 2em;
}

.btn {
    align-items: center;
    margin: 1em;
}


